# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.c
*.cpp
*.h

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/
build/
temp/

# PyInstaller
dist/
build/
*.spec

# Virtual environment
.venv/
env/
venv/

# IDE or text editor files
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
